.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  text-align: center;
  color: #f2f2f3;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  column-gap: 20px;
  margin: 0 auto;
  list-style: none;
  color: #8585AD;
  width: fit-content;
}
