.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 480px;
}

.form > div > div {
  width: 480px;
}

.controls {
  display: flex;
  gap: 20px;
  align-self: flex-end;
  margin: 0;
  padding: 0;
  list-style: none ;
}