.list {
  grid-area: orders;
  margin: 0;
  padding: 0;
  padding-right: 8px;
  list-style: none;
  box-sizing: border-box;
  overflow-y: auto;
  height: calc(100vh - 210px);
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.list::-webkit-scrollbar-track {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #2f2f37;
}