.constructor {
  margin: 0;

  width: 600px;
  height: calc(100vh - 130px);
}

.ingredients {
  overflow-y: auto;
  height: calc(100vh - 290px);
}

.ingredients::-webkit-scrollbar {
  width: 8px;
}

.ingredients::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.ingredients::-webkit-scrollbar-track {
  background-color: #2f2f37;
}