.item {
  display: block;
  background-color: #1c1c21;
  border-radius: 40px;
  box-sizing: border-box;
}

.link {
  display: grid;
  grid-template-areas:
    "number time"
    "title title"
    "status status"
    "ingredients price";
  grid-template-columns: min-content max-content;
  justify-content: space-between;
  text-decoration: none;
  color: #f2f2f3;
}

.number {
  grid-area: number;
  width: fit-content;
}

.time {
  display: inline;
  grid-area: time;
  text-align: right;
  color: #8585ad;
}

.title {
  grid-area: title;
  width: fit-content;
  max-width: 536px;
}

.ingredients_list {
  grid-area: ingredients;
  padding: 0;
  list-style: none;
  width: 306px;
  word-break: unset;
}

.ingredients_item {
  display: inline-block;
  margin-left: -16px;
  position: relative;
}

.ingredients_item:first-child {
  margin-left: 0;
}

.price {
  grid-area: price;
  display: flex;
  gap: 8px;
  align-items: center;
  width: fit-content;
  justify-self: end;
  align-self: center;
  font-weight: 400;
  vertical-align: middle;
}